{% extends "home/homepage.html" %}

{% block title %}
    <title>
        Create an Account
    </title>
{% endblock %}

{% load crispy_forms_tags %}

{% block center %}
    <body style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3Lvq_H-0SNq4oElmgAPk-lXqZSkoPW55Igcy_hvy93CeD4hze&usqp=CAU');
    height: 78vh; background-size: cover; background-position: center;">
    <font color="black">
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    </font>
{% endblock %}