{% extends 'home/homepage.html' %}

{% block title %}
    <title>
        Summary
    </title>
{% endblock %}




{% block center %}
<h1 style="text-align:center">
    Order Details
</h1>
<br>
<body style="background-image:url('https://img.pngio.com/del-villaggio-true-taste-of-italy-best-italian-restaurant-restaurant-food-background-png-1600_1067.jpg');
    height: 95vh;
    background-size: cover;
    background-position: center;">
</body>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->


</head>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<table id="summary" class="table table-hover table-condensed" style="background-color: white;">
    				<thead style="background-color: black; color:white;">
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
						</tr>
					</thead>
					<tbody>
                    {% for i in item_data %}
                        {% if i.item_qty > 0 %}
						<tr>
							<td data-th="Product">
								<div class="row">

									<div class="col-sm-10">
										 {{i}}
									</div>
								</div>
							</td>
							<td data-th="Price">{{i.item_price}}</td>
							<td data-th="Quantity">{{i.item_qty}}</td>
							<td data-th="Subtotal" class="text-center"> {% widthratio i.item_price 1 i.item_qty %}</td>
						</tr>
                        {% endif %}
                    {% endfor %}
					</tbody>
					<tfoot>

						<tr>
							<td colspan="3" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total:₹{{total}}</strong></td>

						</tr>


					</tfoot>
    </table>
</div>

{% endblock %}

